$c1: #231E41;
$c1t: rgba(38,31,65,.9);
$c2: #6F6F87;
$c3: #F2F3F5;
$c4: #FFFFFF;
$c4t: rgba(255,255,255,.92);
$c5: #F5C332;
$c6: #F9FAFC;
$bg-dark: #20162f;
$bg-light: #F3E8EE;
$torti-yellow: #FFFE92;
$torti-yellow-dark: #FFD700;
$torti-blue: #5DA9E9;
$dark-yellow: #FFB318;

$tr: .3s ease-in-out;
$tr-lg: .4s ease-in-out;
